*.o
src/Grid2GMT4
src/Grid2GMT5
src/Grid2Time
src/GridCascadingDecimate
src/Loc2ddct
src/LocSum
src/NLDiffLoc
src/NLLoc
src/PhsAssoc
src/Time2Angles
src/Time2EQ
src/Vel2Grid
src/Vel2Grid3D
src/fmm2grid
src/fpfit2hyp
src/hypoe2hyp
src/interface2fmm
src/oct2grid
src/scat2latlon

